
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background-color: #c7b3b3; */
} 


main {
    background: #c7b3b3;
  }
html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #c7b3b3;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #1b1b1b;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #1b1b1b;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #c7b3b3;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

.content1{
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
  }
  .content1 .text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
  }
  .content1 .p{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
  }

  /* BODY TYPE */
  /* .hero .row {
    display: flex;
    align-items: center; */
    /* min-height: 100vh; */
    /* height: 100%;
    width: 100%;
    padding: 0 60px;
    gap: 30px;
    justify-content: space-between;
  } */


  /* .wrapper h1{
    width: 1200px;
    margin-top: 9%;
    margin-bottom: 4%;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
    letter-spacing: 1.5px;
} */

.wrapper h1{
    display: flex;
    height: 80px;
    width: 100%;
    /* background: #c7b3b3; */
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

.wrapper h3{
    display: flex;
    height: 70px;
    width: 100%;
    /* background: #c7b3b3; */
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

.wrapper h2{
    display: flex;
    height: 70px;
    width: 100%;
    /* background: #c7b3b3; */
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

  .img {
    width: 70%;
    z-index: 10;
    position: relative;
    height: auto;
    padding: 0 50px 0 100px;
  }
  .img_p {
    width: 30%;
    /* z-index: 10; */
    /* height: auto; */
    position: relative;
    padding: 0 50px 0 90px;
  }

  .img_n {
    width: 700px;
    /* z-index: 10; */
    height: 500px;
    position: relative;
    padding: 0 50px 0 90px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column {
    float: left;
    width: 30%;
    padding: 0 50px 0 90px;
  }

.wrapper a:link {color:rgb(100, 98, 103);}    /* unvisited link is black*/
.wrapper a:visited {color:#45454b;} /* visited link is black (reverse the color back to black)*/
.wrapper a:hover {color:#271313;}   /* mouse over link (blue when mouse over)*/
.wrappera:active {color:rgb(100, 98, 103);}  /* selected link (blue in the split second which you loading the page.)*/

.imgq{
    max-width: 60%;
    float: left;
    padding: 0 100px 0 90px;
}

.imgo{
    max-width: 80%;
    float: left;
    padding: 0 100px 0 90px;
}


.cont p{
    font-size: 16px;
}
.wrap{
    margin: 0px auto;
    /* position: center; */
    width: 70%;
}

.cont p{
    font-size: 16px;
    padding: 0 0 0 60px;
    text-align: justify;
    text-justify: inter-word;

}










footer{
    margin-top: auto;
    background-color:#c7b3b3;
    margin-top: auto;
 }
 .footerContainer{
    width: 100%;
    padding: 30px 10px 10px;
 }
 .socialIcons{
    display: flex;
    justify-content: center;

 }
 .socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
 }

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
} 

/* Hover EFFECT */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 20px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: disc;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5 s;
}

.footerNav ul li a:hover{
    opacity: 1;
} 